HOST=0.0.0.0
PORT=1337
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=palatavo
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_URL=postgresql://strapi:strapi@db:5432/palatavo
DATABASE_SSL=false
APP_KEYS=some-random-key-1,some-random-key-2,some-random-key-3,some-random-key-4
API_TOKEN_SALT=your-salt
ADMIN_JWT_SECRET=your-admin-secret
JWT_SECRET=your-secret-key
NODE_ENV=development
EMAIL_PROVIDER=smtp
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=opvo_33@mail.ru
SMTP_PASS=your-password
